[submodule "src/mavlink"]
	path = src/mavlink
	url = https://github.com/mavlink/mavlink
[submodule "src/mavros"]
	path = src/mavros
	url = https://github.com/Autonomous-droneProject/mavros.git
[submodule "src/driver/vl53l1x"]
	path = src/driver/vl53l1x
	url = https://github.com/Autonomous-droneProject/ROS2-VL53L1X.git
