<?xml version="1.0"?>
<model>
  <name>Kestrel Drone</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Manuel Branco Nardi</name>
    <email>branconardimanuel@gmail.com</email>
  </author>

  <author>
    <name>Corbin Ledford</name>
    <email>corbinledford@gmail.com</email>
  </author>

  <description>
    Drone model used for Kestrel Project.
  </description>
</model>
